[submodule "backend/vcpkg"]
	path = backend/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "backend/extern/afv-native"]
	path = backend/extern/afv-native
	url = https://github.com/pierr3/afv-native.git
