[submodule "backend/vcpkg"]
	path = backend/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "backend/extern/afv-native"]
	path = backend/extern/afv-native
	url = https://github.com/pierr3/afv-native.git
  branch = develop-trackaudio
[submodule "backend/extern/libuiohook"]
	path = backend/extern/libuiohook
	url = https://github.com/GeorgeBarlow/libuiohook
	branch = unregister-hook-when-debugging

