@use 'sass:color';
@import 'variables';

.unicon-overall-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.volume-bar-container {
  height: 28px;
  line-height: 25px;
  width: fit-content;
  margin: 10px;
  background-color: color.adjust($disabled, $lightness: 10%);
  border-radius: $card-border-radius;
  border-color: color.adjust($disabled, $lightness: 20%);
  outline: color.adjust($disabled, $lightness: 25%) solid 2px;
  padding-left: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center; // Added to center items horizontally
}

.hide-volume-container {
  @media screen and (max-width: 465px) {
    display: none;
  }
}

.volume-line-item {
  margin-right: 10px;
}

.volume-text {
  display: inline-block;
  vertical-align: middle;
}

.sm-button {
  height: 19px !important;
  width: 30px !important;
  min-height: 0 !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin: 0 !important;
  line-height: 2px !important;
  font-size: 14px !important;
  outline: color.adjust($info, $lightness: -15%) solid 1px !important;
  margin-left: 5px !important;

  &.btn-success {
    outline: color.adjust($success, $lightness: -15%) solid 1px !important;
  }

  &.btn-warning {
    outline: color.adjust($warning, $lightness: -15%) solid 1px !important;
  }
}

.volume-bar {
  margin-right: 10px;
  width: 50px !important;
}
