@use 'sass:color';
@import 'variables';

.unicon-overall-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unicom-bar-container {
  height: 29px;
  width: fit-content;
  // margin: 10px;

  background-color: color.adjust($disabled, $lightness: 10%);
  border-radius: $card-border-radius;
  border-color: color.adjust($disabled, $lightness: 20%);
  outline: color.adjust($disabled, $lightness: 25%) solid 2px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center; // Added to center items horizontally
}

.rx-info-expand {
  height: 29px;
}

.rx-bar-container {
  // height: 29px;
  width: fit-content;
  margin: 7.5px 0px;
  line-height: 29px;
  background-color: color.adjust($disabled, $lightness: 10%);
  border-radius: $card-border-radius;
  border-color: color.adjust($disabled, $lightness: 20%);
  outline: color.adjust($disabled, $lightness: 25%) solid 2px;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center; // Added to center items horizontally
}

.hide-unicom-container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 465px) {
    display: none;
  }
}

.unicom-line-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.unicom-text {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  align-items: center;
}

.rx-text {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  vertical-align: middle;
}

.sm-button {
  height: 19px !important;
  width: 30px !important;
  min-height: 0 !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin: 0 !important;
  line-height: 2px !important;
  font-size: 14px !important;
  outline: color.adjust($info, $lightness: -15%) solid 1px !important;
  margin-left: 5px !important;

  &.btn-success {
    outline: color.adjust($success, $lightness: -15%) solid 1px !important;
  }

  &.btn-danger {
    outline: color.adjust($danger, $lightness: -15%) solid 1px !important;
  }

  &.btn-warning {
    outline: color.adjust($warning, $lightness: -15%) solid 1px !important;
  }
}

.unicom-volume-bar {
  margin-right: 10px;
  width: 80px !important;
}

.main-volume-bar {
  height: 23px;
}
