@import 'variables';

.unicon-overall-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unicom-bar-container {
  height: 28px;
  line-height: 25px;
  width: fit-content;
  margin: 10px;
  background-color: lighten($disabled, 10%);
  border-radius: $card-border-radius;
  border-color: lighten($disabled, 20%);
  outline: lighten($disabled, 25%) solid 2px;
  padding-left: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center; // Added to center items horizontally
  @media screen and (max-width: 465px) {
    display: none;
  }
}

.unicom-line-item {
  margin-right: 10px;
}

.unicom-text {
  display: inline-block;
  vertical-align: middle;
}

.sm-button {
  height: 19px !important;
  width: 30px !important;
  min-height: 0 !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin: 0 !important;
  line-height: 2px !important;
  font-size: 14px !important;
  outline: darken($info, 15%) solid 1px !important;
  margin-left: 5px !important;
}
