@use '../../../style/variables.scss' as GlobalVars;

.connect-status {
  // background-color: darken($dark, 5%) !important;
  font-family: GlobalVars.$font-medium;
  // height: calc($navbar-height - 2px) !important;
}

.freq-status {
  font-family: GlobalVars.$font-medium;
  padding: 1px 2px;
  margin: 2px 0px;
  font-size: 7px;
  color: GlobalVars.$body-color;
  background-color: rgb(129, 129, 129);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.freq-status:last-child {
  margin-top: auto;
}

.freq-status.active {
  color: GlobalVars.$body-color;
  background-color: rgb(249, 112, 0);
}

.connected {
  background-color: rgba(GlobalVars.$success, 0.6) !important;
  color: white !important;
  border-color: GlobalVars.$success !important;
  cursor: pointer;
}

.rxOnly {
  background-color: rgba(GlobalVars.$info, 0.6) !important;
  color: white !important;
  border-color: GlobalVars.$info !important;
  cursor: pointer;
}

.txOnly {
  background-color: rgba(GlobalVars.$warning, 0.6) !important;
  color: white !important;
  border-color: GlobalVars.$warning !important;
  cursor: pointer;
}

.disconnected {
  background-color: rgba(GlobalVars.$success, 0.6) !important;
  color: white !important;
  border-color: GlobalVars.$success !important;
  cursor: pointer;
}

.vatsim-logo {
  // padding: 2px;
  height: 100%;
  opacity: 0.9;
}
