@import "variables";
$transition-speed: 0.1s;

.clock-text {
  align-items: center;
  justify-content: center;
  align-content: center;
}

.custom-navbar {
  height: $navbar-height;
  background-color: $navbar;
  border-color: lighten($disabled, 5%);
  outline: lighten($disabled, 5%) solid 2px;
  font-size: 18px;
  color: $body-color;
  line-height: $navbar-height;
  padding: 0;
  font-weight: normal;
  
  ul,li {
    display: inline-block;
   }

  .clock {
    // font-size: 16px;
    font-family: RobotoMono-Medium;
    min-width: 80px;

    color: $body-color;
    // background-color: $clock-background !important;
    border-radius: $toolbar-border-radius !important;
    // font-size: 15px;
    // @if $clock-background != $navbar {
    //   padding: 0 10px;
    // }
    border: 0;
    height: $toolbar-item-height !important;
    // min-width: 150px !important;
    align-items: center;
    justify-content: center;

  }
}




