
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

body {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
}


@import './app/style/custom-bootstrap.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap.scss';