body {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  overflow: hidden;
}


@import './app/style/custom-bootstrap.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap.scss';