.schmid-ics-container {
  background-color: #c1c1c1;
  box-shadow:
    0 0 0 3px #7c6564,
    0 0 0 7px #f7e0df;
  font-family: sans-serif;
  width: 1050px;
  height: 628px;
  .blue {
    background-color: #0000ff;
    color: white;
    &:active {
      background-color: darken(#0000ff, 10);
    }
  }
}

.schmid-ics-button {
  border: 5px solid white;
  border-right-color: black;
  border-bottom-color: black;
  background-color: #c1c1c1;
  color: black;

  &:active {
    background-color: darken(#c1c1c1, 10);
  }

  width: 84px;
  height: 62px;

  &.container-left {
    width: 170px;
    height: 70px;
  }
}

.schmid-ics-left-column {
  width: 170px;
}

.schmid-ics-middle-column {
  width: 570px;
}
.schmid-ics-middle-button {
  height: 65px;
}
.schmid-ics-right-column {
  width: 255px;
}

.schmid-ics-time {
  background-color: white;
  border: 1px solid #666666;
  width: 170px;
  height: 25px;
  font-size: 15px;
  font-weight: 900;
}

.schmid-ics-radio {
  background-color: white;

  border: 5px solid white;
  border-right-color: black;
  border-bottom-color: black;

  &.schmid-ics-radio-disabled {
    background-color: #c1c1c1;
  }

  // width: 170px;
  height: 70.45px;

  .schmid-ics-row {
    font-size: 10px;
    font-weight: 900;
    line-height: 0.6;
    height: 100%;
    font-family: sans-serif;
  }

  .schmid-ics-top-line {
    color: blue !important;
    &.active {
      background-color: blue !important;
      color: white !important;
    }
  }

  .schmid-ics-middle-line {
    font-size: 12px !important;
    color: black !important;

    &.schmid-ics-radio-selected {
      background-color: lighten(red, 20) !important;
    }
  }

  .schmid-ics-clean-button {
    all: unset;

    font-weight: 900;
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;

    &:focus:not(:focus-visible) {
      font-weight: 900;
    }
  }

  .schmid-ics-bottom-line {
    all: unset;
    cursor: pointer;
    font-size: 12px;
    &:focus:not(:focus-visible) {
      font-weight: 900;
    }

    &.active {
      background-color: yellow;
    }
    &:disabled {
      background-color: #c1c1c1 !important;
      cursor: default !important;
    }

    &.primary {
      background-color: white;
      color: white;
    }

    &.warning {
      background-color: orange;
      color: white;
    }
  }

  .schmid-ics-radio-border {
    border: 1px solid #666666;
  }

  .schmid-ics-radio-border-right {
    border-right: 2px solid #666666;
  }
}

.schmid-ics-radio-inner {
  border: 1px solid #937b7b;
  height: 100%;
}
